.title {
  background: url(https://cdn.glitch.com/136a1dbb-82c7-4729-a9be-298e40f284f2%2FUGC-pc-1.jpg?v=1592015289581) -80px -80px;
  color: red;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  font-weight: bold;
  font-size: 100px;
  font-family: arial, helvetica;
  width: 600px;
  margin: 50px auto;
  text-align: center;
}

.hero-title {
  background: url(https://cdn.glitch.com/136a1dbb-82c7-4729-a9be-298e40f284f2%2FUGC-pc-1.jpg?v=1592015289581) -80px -80px;
  color: red;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  font-weight: bold;
  font-size: 100px;
  font-family: arial, helvetica;
  width: 600px;
  margin: 50px auto;
  text-align: center;
}

.hero-content {
  font-size: 50px;
  width: 800px;
  margin: 50px auto;
  text-align: center;
}

.shop-now-btn{
  border: 3px solid #900c3f;
  background-color: white;
  color: #900c3f;
  padding: 14px 28px;
  font-size: 30px;
  cursor: pointer;
}

.shop-now-btn:hover {
  background: #900c3f;
  color: white;
}


.media-title {
  background: url(https://cdn.glitch.com/136a1dbb-82c7-4729-a9be-298e40f284f2%2FUGC-pc-1.jpg?v=1592015289581) -80px -80px;
  color: red;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  font-weight: bold;
  font-size: 100px;
  font-family: arial, helvetica;
  width: 600px;
  margin: 50px auto;
  text-align: center;
}