.title {
  background: url(https://cdn.glitch.com/136a1dbb-82c7-4729-a9be-298e40f284f2%2FUGC-pc-1.jpg?v=1592015289581) -80px -80px;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  font-weight: bold;
  font-size: 125px;
  font-family: arial, helvetica;
  margin: 50px auto;
  text-align: center;
}

.nav-bar ul {
  list-style: none;
  text-align: center;
}

.nav-bar-options li {
  display: inline-block;
  padding: 14px 16px;
  font-size: 20px;
}

.nav-bar-options li:hover {
  background: #900c3f;
  color: white;
}

.media-0 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.middle {
  background: #ffcac2;
  width: 75%;
  box-shadow: 7px 7px 11px 3px rgba(130,130,130,1);
  padding-top: 7%;
  padding-bottom: 10%;
  margin-left: auto;
  margin-right: auto;
}

.hero-content {
  font-size: 50px;
  width: 75%;
  margin: 50px auto;
}

.hero-title {
  background: url(https://cdn.glitch.com/136a1dbb-82c7-4729-a9be-298e40f284f2%2FUGC-pc-1.jpg?v=1592015289581) -80px -80px;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  font-weight: bold;
  font-size: 100px;
  font-family: arial, helvetica;
}

.shop-now-btn{
  border: 3px solid #900c3f;
  background-color: #ffcac2;
  color: #900c3f;
  padding: 14px 28px;
  font-size: 30px;
  cursor: pointer;
}

.shop-now-btn:hover {
  background: #900c3f;
  color: #ffcac2;
}

.last {
  background: #ccafaf;
  width: 75%;
  box-shadow: 7px 7px 11px 3px rgba(130,130,130,1);
  padding-top: 7%;
  padding-bottom: 10%;
  margin-left: auto;
  margin-right: auto;
}

.below-the-fold {
  font-size: 50px;
  width: 75%;
  margin: 50px auto;
}

.media-title {
  background: url(https://cdn.glitch.com/136a1dbb-82c7-4729-a9be-298e40f284f2%2FUGC-pc-1.jpg?v=1592015289581) -80px -80px;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  font-weight: bold;
  font-size: 100px;
  font-family: arial, helvetica;
}